// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
  // Vars


  // base
  --base-txt-color: #222;
  --heading-color: #333;
  --base-font-family: 'Mulish', sans-serif;
  --body-bg: #fff;
  

  // colors  
  $brand-color: #F8D57E;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;
  
  // app header
  --app-header-height: 90px;
  --app-header-txt-color: black;
  --app-header-title-font-size: 2em;
  --app-header-title-font-weight: 300;

  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}



// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
}

// links ---------------
a {
  color: var(--brand-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes {
  height: 80vh;
  width: auto;
  background-color: black;
}
.notes-top-bar {
  .divider-line {
    width: auto;
    height: 1px;
    background-color: #B5B8C0;
    margin: 15px 0 15px 0;
  }
  .notes-bar {
    display: flex;
    margin: 0 0 0 10px;
    align-items: center;
    .vert-line {
      width: 1px;
      height: 40px;
      background-color: #B5B8C0;
      margin: 0 10px 0 10px;
    }
  }
}
.notes-section {
  margin: 0 8.5vw 0 6vw;
}
.character-notes-section {
  margin: 0 0 0 5vw;
}

.fit1 {
  margin: 0 8.5vw 0 6vw;
}
.fit2 {
  margin: 0 0 0 5vw;
}

// Character
.jumble-icon {
  width: 30px;
  margin-left: auto;
  cursor: pointer;
}
.split-background {
  display: flex;
  div:nth-child(1) {
    width: 31vw;
    height: 100vh;
  }
  div:nth-child(2) {
    background-color: rgb(255, 255, 255);
    width:69vw;
    height: 100vh;
  }
}
.flexer {
  display: flex;
  margin: 0 0 0 0;
  padding-left: 7vw;
  padding-right: 7vw;
}
.character-left {
  height: 75vh;
  width: 30vw;
  align-items: center;
  .character-portrait {
    position: relative;
    height: 90%;
    width: 39vh;
    background-color: rgb(146, 186, 243);
    border-radius: 3vh;
    overflow: hidden;
    img {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }
  }
}
.character-right {
  height: 75vh;
  width: 65vw;
}
.character-notes-right {
  height: 75vh;
  width: 60vw;
}

.gender-container {
  display: flex;
  width: calc(39vh + 2vw);
}
.gender-box {
  display: flex;
  margin: 3vh 2vw 0 0;
  height: 7vh;
  width: 12vw;
  background-color: #FFE8AF;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}
.gender-box {
  cursor: pointer;
}
.Male option:nth-child(1) {
  background-color: var(--brand-color);
  cursor: unset;
}
.Female option:nth-child(2) {
  background-color: var(--brand-color);
  cursor: unset;
}

// Story

#storylist {
  display: flex;
  width: 80vw;
  height: 60vh;
  background-color: black;
}

.story {  
  background:#fff;
  margin: 0;
  color: #333;  
  border-radius: 200px;
  box-shadow: 0px 3px 25px rgba(0,0,0,0.14);
  padding: .7em 1.3em;
  font-size: 1em;
  margin-bottom: .25em;
  text-align: center;
  transition: all .2 ease;
}

// Notes Area
.notes-area {
  width: 100%;
  height: 70%;
}

// sign pages
.signsplit {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  width: 100vw;
  height: 100vh;
  .splitleft {
    h1 {
      margin: 10vh 0 0 5vw;
    }
    background-image: url(../../static/static_mockups/sign/sign.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    // filter: blur(2px);
  }
}


// sign in + sign up pages ----------
.sign-back-label {
  display: flex;
  margin: 3vh 2vw 3vh 2vw;
  cursor: pointer;
}
.sign-back-arrow {
  margin: 0 2vw 0 0;
}

.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
  margin: 20vh 0 0 11.5vw;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}



// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}
.carousel {
  position: relative;
}
.carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 3vh;
  left: 0;
  text-align: center;
}
.carousel-btn {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: none;
  border-radius: 50%;
  margin: 0 10px;
  border: 2px solid white;
  cursor: pointer;
}
.carousel-btn--selected {
  background: white;
}
.guide-left-arrow {
  position: absolute;
  top: 45%;
  left: 3%;
  z-index: 20;
  cursor: pointer;
}
.guide-left-right {
  position: absolute;
  top: 45%;
  right: 3%;
  z-index: 20;
  cursor: pointer;
}
.guide-box {
  display: flex;
  background-color: var(--brand-color);
  // grid-template-columns: 33% 33% 33%;
  // grid-template-rows: 100%;
  height: 70vh;
  width: auto;
  // background-image: url("../../static/static_mockups/guide/guide-top.svg");
  // background-repeat: no-repeat;
  // background-size: cover;
  margin: 8vh 10vw 4vh 10vw;
  background: linear-gradient(96.16deg, #FFE8AF -12.73%, #F8D57E 35.32%, #FFF7E3 114.11%);
  border-radius: 3vw;
  .guide-box-left {
    height: 70vh;
    padding: 12vh 10% 10vh 12%;
    width: 55%;
    .icon-n-label {
      display: flex;
      h1 {
        text-align: left;
        font-size: 1.6em;
        margin: -3px 0 0 0;
        padding: 0 0 2vh 2vw;
      }
    }
    .guide-para {
      text-align: left;
      p{
        font-size: 1.1em;
        line-height: 1.5;
      }
    }
  }
  .guide-box-right {
    height: 70vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
    .animation-container {
      height: 350px;
      width: 350px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

// Story Page
.list-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 350px;
  margin: 10vh 0 0 5vw;
  align-items: center;
  justify-content: center;
}
.lc-character {
  margin: 3vh 0 0 5vw;
}
.list-item {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
  .story-pic {
    height: 150px;
    width: 150px;
    background-color: rgb(90, 184, 187);
    margin: 10px 0 20px 0;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }
  .character-pic {
    position: absolute;
    top: 0;
    height: 200px;
    width: 140px;
    border-radius: 15px;
    margin: 0 0 0 0;
  }
  .character-back-pic {
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: 0 0 0 0;
    overflow: hidden;
  }
  p {
    line-height: 100%;
    margin: 0 0 0 0;
  }
}
.story-background-image {
  height: auto;
  width: 140px;
}
.story-character-image {
  height: 150px;
  width: auto;
}
.character-image {
  height: 50vh;
  width: auto;
}
.adder {
  padding: 140px 0 140px 75px;
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--brand-color);
}

.sub-nav {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 3vh;
  margin-top: 0;
  .hover-line {
    background-color: var(--brand-color);;
    width: 0;
    height: 3px;
    border-radius: 5px;  
    transition: width 0.3s ease;
    margin-top: 0.5em;
    margin-left: 2em;
  }
  .point {
    cursor: pointer;
  }
  .cstatic-line {
    background-color: var(--brand-color);;
    width: 160px;
    height: 3px;
    border-radius: 5px;  
    margin-top: 0.5em;
    margin-left: 2em;
  }
  .nstatic-line {
    background-color: var(--brand-color);;
    width: 100px;
    height: 3px;
    border-radius: 5px;  
    margin-top: 0.5em;
    margin-left: 2em;
  }
  h2{
    margin: 0 2em 0 2em;
  }
}
.csubnav:hover > div {
  width: 160px;
}
.nsubnav:hover > div {
  width: 100px;
}

// copy and paste of app-header
* {
  box-sizing: border-box;
}
.app-header {
  position: fixed;
  top: 0;
  right: 6%;
  left: 6%;
  height: var(--app-header-height);
  color: var(--brand-color);
  display: flex;
  z-index: 9;
  align-items: center;
}


.app-header-main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.app-header-main::slotted(h1){
  color: var(--brand-color);
}

.app-logo a {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  padding: 2em;
  display: inline-block;        
}

.app-logo img {
  width: 120px;
}

.hamburger-btn::part(base) {
  color: var(--brand-color);
}

.app-top-nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.app-top-nav a {
  display: inline-block;
  padding: 2em;
  text-decoration: none;
  color: var(--brand-color);
}

.app-side-menu-items a {
  display: block;
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--brand-color);
}

.app-side-menu-logo {
  width: 250px;
  margin-bottom: 1em;
  position: absolute;
  top: 2em;
  left: 1.5em;
}

.hover-line {
  background-color: var(--brand-color);;
  width: 5%;
  height: 3px;
  border-radius: 5px;  
  position: absolute;
  transition: width 0.3s ease;
  margin-top: 3em;
}
.app-header-main:hover > div {
  width: 15%;
}

.page-title {
  color: var(--app-header-txt-color);
  margin-right: 0.5em;
  font-size: var(--app-header-title-font-size);
  font-weight: var(--app-header-title-font-weight);
}

/* active nav links */
.app-top-nav a.active,
.app-side-menu-items a.active {
  font-weight: bold;
}

.profile-tag {
  color: black;
  font-size: 0.6em;
}

/* RESPONSIVE - MOBILE ------------------- */
@media all and (max-width: 768px){       
      
  .app-top-nav {
    display: none;
  }
}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}


// Generated Content

#foo {
  padding-top: var(--app-header-height);
}

.gridContainer {
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  grid-template-rows: 46% 55%;
  height: 90%;
  width: 100%;
  row-gap: 4%;
  column-gap: 3%;
}
.gridContainer > div {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}
.selectorDiv {
  display: flex;
  width: 100%;
  padding: 0 2em 0 2em;
}
.selectorDiv > .selectorSl {
  margin-left: auto;
}
.selectorDiv2 {
  display: flex;
  width: 100%;
  padding: 0 2em 1.5vh 2em;
}
.selectorDiv2 > .selectorSl2 {
  margin-left: 0 auto 1em auto;
  width: 100%;
}
.contentBoxLine {
  background-color: #777;
  width: auto;
  height: 0.5px;
  margin-top: -1vh;
  margin-bottom: 2vh;
}
.selectorSl {
  width: 80%;
}
.location-sl {
  width: 66%;
}
.barChart {
  display: flex;
  margin: 0;
  padding: 0 2em 0 2em;
  p {
    line-height: 0.8;
  }
}
.bar-line1 {
  position: absolute;
  width: 1px;
  height: 5vh;
  margin-left: 20%;
  background-color: rgba(181, 184, 192, 0.5);
  z-index: 33;
}
.bar-line2 {
  position: absolute;
  width: 1px;
  height: 5vh;
  margin-left: 40%;
  background-color: rgba(181, 184, 192, 0.5);
  z-index: 33;
}
.bar-line3 {
  position: absolute;
  width: 1px;
  height: 5vh;
  margin-left: 60%;
  background-color: rgba(181, 184, 192, 0.5);
  z-index: 33;
}
.bar-line4 {
  position: absolute;
  width: 1px;
  height: 5vh;
  margin-left: 80%;
  background-color: rgba(181, 184, 192, 0.5);
  z-index: 33;
}

.itemBar {
  width: 70%;
  height: 5vh;
  margin-left: auto;
  position: relative;
  border-radius: 1vh;
  background: #E5E5E5;
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(181, 184, 192, 0.5);
}
.valueBar1 {
  position: absolute;
  width: 20%;
  height: 5vh;
  background: #FAE09E;
  border-radius: 5px;
}
.valueBar2 {
  position: absolute;
  width: 40%;
  height: 5vh;
  background: #FAE09E;
  border-radius: 5px;
}
.valueBar3 {
  position: absolute;
  width: 60%;
  height: 5vh;
  background: #FAE09E;
  border-radius: 5px;
}
.valueBar4 {
  position: absolute;
  width: 80%;
  height: 5vh;
  background: #FAE09E;
  border-radius: 5px;
}
.valueBar5 {
  position: absolute;
  width: 100%;
  height: 5vh;
  background: #FAE09E;
  border-radius: 5px;
}

.box-subheader {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 0.8;
}

.regenerateBtn {
  height: 50px;
  width: 200px;
}

.background-image {
  height: 70vh;
  width: auto;
}

.character-image-box {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0 0 10px 0;
}

.story-background {
  width: 150px;
  height: auto;
}

#foo {
  padding:  0 0 0 0;
}
.guide1-ani {
  margin: 40px 0 0 0;
}
.guide2-ani {
  margin: 50px 50px 0 0;
}
.guide3-ani {
  width: 80%;
  margin: 5px 0 0 30px;
}

#chart {
  height: 85%;
  width: auto;
  margin-top: -2vh;
}
.character-grid-item {
  p {
    font-weight: 500;
  }
}
.spider-chart-container {
  overflow: hidden;
}

// Animations
